section.container__list{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    margin: 0 2rem;
    max-height: 95%;
    overflow-y: auto;
}

div.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #141414;
}

@media (max-width: 600px) {
    div.container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}
