div.carousel-inner{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

@media (min-width: 700px) {
  div.carousel-inner{
    flex-direction: row;
  }
}

div.carouse-item{
  cursor: pointer;
}

div.carousel-item:hover {
  transform: scale(1.4);
  background-color: #141414;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 5px;

}

div.carousel-img{
  width: 50px;
  height: 50px;
}

.carousel-img {
  opacity: 0.3;
}

.carousel-img:hover {
  opacity: 1;
}