    section.detail {
        padding: 5rem 3rem ;
        margin: unset;
        background-color: #141414;
    }

    section.detail h1 {
        font-size:x-large;
    }

    div.options{
        padding-top: 1rem;
        display: grid;
        gap: 10px;
        justify-content: center;
        align-content: center;
    }

    div.detail__information{
        flex-direction: column;
    }

    section.detail__description{
        overflow: hidden;
        text-align: justify;
    }

@media (min-width: 700px) {
section.detail {
   margin: 0 10rem;
   padding: 2rem;
}

div.options{
    display: flex;
    flex-direction: row;
}



div.detail__information{
    display: flex;
    flex-direction: row;
}


img.detail--thumbnail{
    flex: 0 0 10%; 
    display: block;
}

section.detail__description{
    flex: 0 0 50%; 
    text-align: justify;
    padding: 0 5rem;
}

div.detail__creators{
    padding-top: 2rem;
}

div.detail__creators h4{
    text-transform: uppercase;
}

section.detail__others{
    flex: 0 0 15%;
    text-align: start;
}

div.detail__urls{
    flex: 0 0 25%;
    text-align: center;
    padding-top: 2rem;
}

section.detail__others p {
    font-weight: bold;
}

section.detail__others span {
    font-weight:300
}
}