nav.navbar{
    display: flex;
    min-height: 120px;
}

@media (max-width: 600px) {
    nav.navbar{
        display: flex;
        flex-direction: column;
    }
}

ul.nav-links{
    display: flex;
    justify-content: space-evenly;
    min-width: 25vw;
}
.nav-links li {
    list-style-type: none;
}

ul.nav-links a {
    color: #e5e5e5;
    font-weight: bold;
}

li.nav-item:hover{
    color: #b3b3b3;;
}